<!-- =========== Header  Section=============== -->

{% extends "base.html" %}

{% block content %}

  <!-- ======= Hero Section ======= -->

  
  <div class="d-inline-flex align-items-center justify-content-center align-self-center" style="position:absolute; top:13%; left:35%; z-index:5">
    <div class="errors">
      {% for category, message in get_flashed_messages(with_categories=true)  %}

        <div class="alert alert-{{category}} alert-dismissible fade show">
            
            {{ message }}&ThickSpace; &ThickSpace;
            <button type="button" class="close" data-dismiss="alert" 
              aria-label="Close" aria-hidden="true"> &times;</button>
        </div>

      {% endfor %}  

    </div>
  </div>


  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Library Management Web Application</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">LMS for managing Books, Members, Transaction..</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <!-- <div class="text-center text-lg-start">
              <a href="/login" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Admin Dashboard</span>
                <i class="bi bi-arrow-right"></i>
              </a>
              <br>
              <a href="/book-data" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" style="background-color: whitesmoke; color: blue;">
                <span>Guest View</span>
                <i class="bi bi-arrow-right"></i>
              </a>              
            </div> -->
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  {% endblock %}

<!-- =========== Footer Section ============== -->  
  