<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/login-assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/login-assets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login-assets/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/login-assets/css/style.css">

    <title>Login #7</title>
  </head>
  <body>
  

  
  <div class="content">

    <div class="d-inline-flex align-items-center justify-content-center align-self-center" style="position:absolute; top:5%; left:35%; z-index:5">
      <div class="errors">
        {% for category, message in get_flashed_messages(with_categories=true)  %}

          <div class="alert alert-{{category}} alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert" 
                aria-label="Close" aria-hidden="true"> &times;</button>
              {{ message }}&ThickSpace; &ThickSpace;
          </div>

        {% endfor %}  

      </div>
    </div>

    <div class="container">
      <div class="row">
        
        <div class="col-md-6">
          <a href="/" > <img src="/login-assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid"> </a>
        </div>

        <div class="col-md-6 contents">
          <div class="row justify-content-center" style="margin: -45px;">
            
            <div class="col-md-8" style="border: #f8f9fa 5px solid;border-radius: 35px;padding: 30px;background-color: white;">
                <div class="mb-4" style="text-align: center;">
                  <h3>Sign In</h3>
                  <p class="mb-4">Login to your dashboard</p>
                </div>
              <form action="/login" method="post">
                {{ form.csrf_token }}

                <div class="form-group first" style="margin-bottom: 5px;">
                  <label for="email">{{ form.email.label }}</label>
                  <!-- <input type="text" class="form-control" id="email" name="email"> -->
                  {{ form.email(class="form-control" ) }}

                </div>
                
                <div class="form-group last mb-4">
                  <label for="password">{{ form.password.label }}</label>
                  <!-- <input type="password" class="form-control" id="password" name="password" > -->
                  {{ form.password(class="form-control") }}
                  
                </div>
                
                <div class="d-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                    <!-- <input type="checkbox" checked="checked" name="checkbox"/> -->
                    {{ form.checkbox() }}
                    <div class="control__indicator"></div>
                  </label>
                  <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
                </div>

                <input type="submit" value="Log In" class="btn btn-block btn-primary">
                
              </form>
              <a href="/signup" class="forgot-pass" >continue to Signup</a>

            </div>


            </div>
            
        </div>
          
      </div>
        
      </div>
    </div>
  </div>

  
    <script src="/login-assets/js/jquery-3.3.1.min.js"></script>
    <script src="/login-assets/js/popper.min.js"></script>
    <script src="/login-assets/js/bootstrap.min.js"></script>
    <script src="/login-assets/js/main.js"></script>
  </body>
</html>