{% extends 'base.html' %}

{% block extraStyle %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}


{% block content %}







<section id="features" class="features" style="padding-top: 150px;">
    
    <div class="container">
        <header class="section-header" >
            <!-- <h2>Features</h2> -->
         
            <p>Transactions</p>
          </header>
          <div class="d-flex ">
            <div class="p-2 w-10 ">S.No.</div>
            <div class="p-2 w-100 ">Book Name</div>
            <div class="p-2 w-100 ">Member Name</div>
            <div class="p-2 w-50 ">Issued / Returned</div>
            <div class="p-2 w-50 ">Date & Time</div>
        </div>

        {% for trans in transactions %}
        <div class="d-flex  b-g-{{trans.borrow}}">
            <div class="p-2 w-10 "> {{trans.id}}&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;</div>
            <div class="p-2 w-100 ">{{trans.book}}</div>
            <div class="p-2 w-100 ">{{trans.member}}</div>
            <div class="p-2 w-50 ">
                {% if trans.borrow %}
                    Issued
                {% else %}
                    Returned
                {% endif %}
            </div>
            <div class="p-2 w-50 ">{{trans.date}}</div>
        </div>
        {% endfor  %}
    
    </div>

</section>



















{% endblock %}


{% block extraScript %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}